.App {
    text-align: center;
}

body {
    color: #333333;
    max-width: 922px;
    margin-left: auto;
    margin-right: auto;
}

#root {
    background-color: #F7FBFF;
    margin-left: auto;
    margin-top: auto;
}

.card-container {

}

    main {
    margin: 5rem auto 0 auto;
    }

    nav {
    margin: 0 auto 0 auto;
    }

    nav button {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    color: #09529F;
    background-color: transparent;
    }

    nav .flag {
        border: none;
    }

    nav .operator {
        border: none;
        border-radius: 0.3rem;
        background-color: #09529F;
        color: white;
    }

    nav .operator:hover, nav .operator .selected {
        border: 1px solid #09529F;
        color: #09529F;
        background-color: white;
    }

    nav .operator .selected:hover {
        border: none;
        background-color: #09529F;
        color: white;
    }

    



    nav .command {
        border: 1px solid #09529F;
        border-radius: 50%;
    }

    .board-container {
    margin: 0 auto 0 auto;
    max-width: 100%;
    position: relative;
    border-radius: 5px;
    }

    .card-container {
    max-width: 100%;
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 5rem auto 0 auto;
    }

    .card-down {
    aspect-ratio: 1/1.5;
    cursor: pointer;
    margin:1rem;
    background-image: url('https://prof.rammelion.hu/card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:transparent;
    }

    .card-up {
    aspect-ratio: 1/1.5;
    cursor: pointer;
    margin:1rem;
    border: 1px solid #09529F;
    border-radius: 5px;
    background-image: url('https://prof.rammelion.hu/card-up.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 1rem;
    color:black;
    }

    #modal {
        display:none;
        position: relative;
        top: -30rem;
        margin-left: auto;
        margin-right: auto;
        aspect-ratio: 1.5/1;
        width:25vw;
        height: 25vh;
        z-index: 255;
        justify-content: center;
        align-items: center;
        border: 1px solid #09529F;
        border-radius: 5px;
        background-color: white;
    }

    #modal p {
        display: flex;
        text-align: center;
    }

    #modal button {
        background-color: #09529F;
        color: white;
        width:100%;
        align-self: center;
        justify-self: center;
    }

    .show-cookiebar {
        display: flex;
    }

    .hide-cookiebar {
        display: none;
    }